---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<div class="top">
  <Layout />
  <Header />
  <div class="w-[100vw] h-auto bg-black flex justify-center">
    <main class="w-[75%]">
      <section id="hero" class="h-[75vh] bg-amber-500"></section>
      <section id="venue" class="h-[75vh] bg-blue-500"></section>
      <section id="booking" class="h-[75vh] bg-green-500"></section>
      <section id="about-us" class="h-[75vh] bg-gray-500"></section>
      <section id="find-us" class="h-[75vh] grid grid-cols-2 bg-green-700">
        <div class="w-full h-auto my-10 border-r-2 border-r-gray-400">
          <h2 class="font-bold text-[2.5em] ml-10">CONTACT US:</h2>
          <div class="w-full h-full flex items-center justify-center">
            <span
              ><h3 class="text-[1.5em] font-semibold">PHONE</h3>
              <span class="flex py-1.5 hover:text-blue-500 gap-2"
                ><img
                  class="w-[1em] h-auto"
                  src="/contacts/mobile-phone-logo.png"
                  alt="mobile phone logo"
                /><a href="tel:">+63-XXX-XXX-XXXX</a></span
              >

              <h3 class="text-[1.5em] font-semibold">TELEPHONE</h3>
              <span class="flex py-1.5 hover:text-blue-500 gap-2"
                ><img
                  class="w-[1em] h-auto"
                  src="/contacts/Telephone-logo.png"
                  alt="telephone logo"
                /><a href="tel:">+63-XXX-XXX-XXXX</a></span
              >
              <h3 class="text-[1.5em] font-semibold">FAX</h3>
              <span class="flex py-1.5 hover:text-blue-500 gap-2"
                ><img
                  class="w-[1em] h-auto"
                  src="/contacts/fax-logo.png"
                  alt="fax logo"
                /><a href="tel:" class="text-2xl text-gray-700 hover:text-black"
                  >+63-XXX-XXX-XXXX</a
                ></span
              ></span
            >
          </div>
        </div>
        <div class="w-full h-auto my-10 ml-10">
          <h2 class="font-bold text-[2.5em]">LOCATION:</h2>
          <p class="text-[1.5em] text-gray-600">
            3202 Carl Albert Dr
            <br />Durant, OK 74701, United States
          </p>
          <div
            id="map"
            class="w-full h-full flex justify-center items-center pb-30 pr-30"
          >
            <div class="w-[80%] h-[80%] outline-gray-600 outline-4"></div>
          </div>
        </div>
      </section>
    </main>
  </div>
  <Footer />
</div>
