<div class="h-[20rem] pt-10 pb-16">
  <div class="w-full h-full grid grid-cols-12">
    <div class="col-start-3 col-end-5 grid grid-cols-2 grid-rows-2">
      <div class="col-start-1 col-end-2 row-start-1 row-end-2 grid grid-rows-2">
        <span class="text-[1.5rem] font-bold">Baka Kami Na To</span>
        <span class="italic">"Tambay ka na dito tol"</span>
        <span class="text-[0.90rem] font-semibold"
          >Follow our socials below:</span
        >
      </div>
      <div class="col-start-2 col-end-3 row-start-1 row-end-2 grid grid-rows-2">
        <span class="row-start-2 row-end-3"> address: </span>
      </div>
      <div
        class="col-start-1 col-end-3 row-start-2 row-end-3 grid grid-cols-5 gap-4 mt-4"
      >
        <a href="#" target="_blank"><img alt="Facebook Icon" /></a>
        <a href="#" target="_blank"><img alt="Twitter Icon" /></a>
        <a href="#" target="_blank"><img alt="Instagram Icon" /></a>
        <a href="#" target="_blank"><img alt="LinkedIn" /></a>
        <a href="#" target="_blank"><img alt="TikTok" /></a>
      </div>
    </div>
    <div class="col-start-5 col-end-6"></div>
    <div class="col-start-6 col-end-11 grid grid-cols-12">
      <div class="col-start-2 col-end-13">
        <div>
          <p>quick links</p>
        </div>
        <div>
          <p>contacts</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full fixed bottom-0 self-center">
    <p class="text-[0.8rem] font-semibold">
      © Baka Kami Na To. all rights reserved
    </p>
  </div>
</div>
