---

---

<div
  id="navbar"
  class="sticky top-0 h-[7em] w-full grid grid-cols-12 gap-5 bg-white"
>
  <div id="company" class="flex items-center col-start-2 col-end-4">
    <img src="" alt="company logo" class="pl-10" />
  </div>
  <div id="navigation" class="col-start-4 col-end-10 grid grid-cols-5 gap-10">
    <span
      class="flex justify-center items-center hover:border-b-2 hover:inset-shadow-sm/10"
      ><a
        href="/#hero"
        class="flex justify-center items-center text-[1.5rem] w-full h-full hover:scale-110 transition-transform ease-in-out duration-300"
        >HOME</a
      ></span
    >
    <span
      class="flex justify-center items-center hover:border-b-2 hover:inset-shadow-sm/10"
      ><a
        href="#venue"
        class="flex justify-center items-center text-[1.5rem] w-full h-full hover:scale-110 transition-transform ease-in-out duration-300"
        >VENUE</a
      ></span
    ><span
      class="flex justify-center items-center hover:border-b-2 hover:inset-shadow-sm/10"
      ><a
        href="#about-us"
        class="flex justify-center items-center text-[1.5rem] w-full h-full hover:scale-110 transition-transform ease-in-out duration-300"
        >ABOUT US</a
      ></span
    ><span
      class="flex justify-center items-center hover:border-b-2 hover:inset-shadow-sm/10"
      ><a
        href=""
        class="flex justify-center items-center text-[1.5rem] w-full h-full hover:scale-110 transition-transform ease-in-out duration-300"
        >BOOKING</a
      ></span
    ><span
      class="flex justify-center items-center hover:border-b-2 hover:inset-shadow-sm/10"
      ><a
        href="#find-us"
        class="flex justify-center items-center text-[1.5rem] w-full h-full hover:scale-110 transition-transform ease-in-out duration-300"
        >FIND US
      </a></span
    >
  </div>
  <div id="user" class="col-start-10 col-end-12 grid grid-cols-2">
    <a
      href=""
      class="m-4 flex justify-center items-center bg-[#8a31ff] rounded-2xl text-white outline-2 outline-transparent hover:cursor-pointer hover:text-black hover:outline-black hover:bg-[#b176ff]"
      >SIGN UP</a
    >
    <a
      href=""
      class="m-4 flex justify-center items-center bg-[#8a31ff] rounded-2xl text-white outline-2 outline-transparent hover:cursor-pointer hover:text-black hover:outline-black hover:bg-[#7811ff]"
      >LOG IN</a
    >
  </div>
</div>
